body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


/* ------------------------Header-------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(194, 194, 194);
}

/* ------------------------Products-------------------- */

.pageTitle {
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem;
  margin-top: 1rem;
}

.productContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin: 0 auto;
  background: pink;
  width: 25%;
  padding: 10px;
}

.productContainerCart {
  background-color: pink;
  border: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
  height: 10rem;
}

/* ------------------------Single Product-------------------- */
.singleProduct{
  display: flex;
  /* flex-direction: column;
  align-items: left;
  margin: 2rem; */
  padding: 20px;
  width: 100%;
}

.descriptionOfProduct {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2rem;
}

/* ------------------------Logging in/ Signing up-------------------- */
.authForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2rem;
}

/* ------------------------NavBar-------------------- */

nav {
  display: flex;
  justify-content: space-between;
  float: right;
  align-items: center;
  background-color: rgb(194, 194, 194);
  height: 5rem;
}

nav div a:hover{
  color: rgb(255, 0, 0);
}

nav a {
  color: black;
  font-size: 1.5rem;
  margin: 0 1rem;
}

/* ------------------------Checkout-------------------- */
.checkout {
  display: flex;
  flex-direction: column;
}

.checkoutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
}

.checkoutTitle {
  margin: 0;
}

.checkoutLoginSignup {
  font-size: 12px;
}

.checkoutAuthButton {
  font-size: 12px;
}

.checkoutMain {
  display: flex;
  margin: 0 20px 20px 20px;
  padding-top: 10px;
}

.checkoutCart {
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  display: flex;
  flex-wrap: wrap;
}

.checkoutProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 50%;
}

.checkoutPayment {
  display: flex;
  justify-content: center;
  width: 50%;
}

.checkoutForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  border: 1px solid black;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  width: 50%;
  height: 50%;
}

.checkoutButton {
  background-color: red;
}

/* ------------------------Footer-------------------- */

.footer {
  bottom: 0;
  width: 100%;
  display: flex;
  height: 7rem;
  background-color: rgb(197, 197, 197);
  position: sticky;
}
