body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button{
  cursor: pointer;
}

/* ------------------------Header-------------------- */

.header {
  margin: none;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}

/* ------------------------Products-------------------- */
.siteTitle{
  color: rgb(216, 223, 219);
}

.pageTitle {
  display: flex;
  justify-content: center;
  color: lightcoral;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem;
  margin-top: 1rem;
}

.productContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: rgba(143, 188, 143, 0.804);
  width: 20%;
  padding: 15px;
  border: 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.365);
}

.productContainerCart {
  background-color: pink;
  border: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 2rem;
  margin: 1rem;
  height: 10rem;
}

.productName{
  color: rgb(236, 116, 176);
  margin:0;
}

.productButtonContainer{
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.productButton{
  background-color: lightblue;
  height: 3rem;
  color: black;
  border-radius: 10px;
}

.productButton:hover{
  background-color: rgb(236, 116, 176);
  color: white;
  transition: .25s;
}

.notLoggedIn{
  display: flex;
  justify-content: center;
  color: darkcyan;
}

.productPrice{
  color: rgb(227, 236, 227);
}
/* .allProductsBackground{
  background-color: darkseagreen;
} */

/* ------------------------Single Product-------------------- */
.singleProduct{
  display: flex;
  /* flex-direction: column;
  align-items: left;
  margin: 2rem; */
  padding: 20px;
  width: 100%;
}

.descriptionOfProduct {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2rem;
}

/* ------------------------Logging in/ Signing up-------------------- */
.authForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2rem;
}

/* ------------------------NavBar-------------------- */

nav {
  display: flex;
  justify-content: space-between;
  float: right;
  align-items: center;
  background-color: darkcyan;
  height: 5rem;
}

nav div a:hover{
  color: rgb(170, 168, 168);
}

nav a {
  color: black;
  font-size: 1.5rem;
  margin: 0 1rem;
}


/* ------------------------Cart-------------------- */
.cart{
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cartItemImage{
  margin:5px;
}

.cartItemContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:50rem;
  background-color: rgba(143, 188, 143, 0.804);
  border-radius: 5px;
}

.cartItemRemoveButton{
  background-color: rgba(255, 0, 0, 0.38);
  border-radius: 5px;
}

/* ------------------------Checkout-------------------- */
.checkout {
  display: flex;
  flex-direction: column;
}

.checkoutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
}

.checkoutTitle {
  margin: 0;
}

.checkoutLoginSignup {
  font-size: 12px;
}

.checkoutAuthButton {
  font-size: 12px;
}

.checkoutMain {
  display: flex;
  margin: 0 20px 20px 20px;
  padding-top: 10px;
}

.checkoutCart {
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  width: 60%;
}

.checkoutCartHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButton {
  font-size: 12px;
}

.checkoutCartHeader > * {
  margin: 0;
}

.checkoutProductContainer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 23%;
  margin: 20px 0 10px 10px;
}

.checkoutProductContainer > * {
  margin: 0;
}

.checkoutPayment {
  display: flex;
  justify-content: center;
  width: 40%;
}

.checkoutForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  border: 1px solid black;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  width: 50%;
  height: 350px;
}

.paymentHeader {
  margin-top: 5px;
}

.checkoutButton {
  background-color: red;
}

/* ------------------------Confirmation-------------------- */
.confirmation {
  display:flex;
  flex-direction: column;
  align-items: center;
}



/* ------------------------Footer-------------------- */

.footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 5rem;
  background-color: darkcyan;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 10px;
  font-size: 1.5rem;
}

.footerDetails{
  display: flex;
}

.footerDetails:hover{
  color: rgb(170, 168, 168);
}


